<footer class="mt-5 text-white py-5 text-center">
  <div class="container d-flex justify-content-center align-items-center flex-wrap">
    <div class="section ps-3 mx-5">
      <h2 class="mb-4">LOCATION</h2>
      <p>2215 John Daniel Drive <br>
      Clark, MO 65243</p>
    </div>
    <div class="section px-2 mx-5">
      <h2 class="mb-2" ro>AROUND THE WEB</h2>
      <ul class="d-flex justify-content-between align-items-center mt-4">
        <li><i class="fa fa-brands fa-facebook-f fs-4"></i></li>
        <li><i class="fa fa-brands fa-twitter fs-4"></i></li>
        <li><i class="fa fa-brands fa-linkedin fs-4"></i></li>
        <li><i class="fa fa-brands fa-instagram fs-4"></i></li>
      </ul>
    </div>
    <div class="section pe-3 mx-5">
      <h2>ABOUT FREELANCER</h2>
      <p>Freelance is a free to use, <br> MIT licensed Bootstrap theme created by <br> Route</p>
    </div>
  </div>
</footer>
<section class="copyright text-white text-center py-3 fs-3">
  <div class="container">
    <p>copyright &copy; website 2022</p>
  </div>
</section>
