<section class="landing d-flex align-items-center">
  <div class="container text-center">
    <img src="/src/assets/avataaars.svg" alt="" class="mt-5">
    <div class="text text-white">
      <h2>strat angular</h2>
      <i class="fa fa-solid fa-star fs-2"></i>
      <h2></h2>
      <p class="fs-2 mt-5">an Angular Website with featuers Like: <br> routing , Data Binding , ng directive, etc. <br>using also Bootstrap</p>
    </div>
  </div>
</section>
<button class="btn fs-2 myBtn" onclick="scrolltop()"> <i class=" fa fa-thin fa-arrow-up"></i></button>
