<div class="about my-5 py-5">
  <div class="container ">
    <div class="main-head mb-5 text-center">
      <h2 class="fw-bold text-white">ABOUT</h2>
      <i class="fa fa-solid fa-star fs-2 text-white"></i>
    </div>
    <div class="content d-flex justify-content-center align-items-center">
      <p class="right text-white mx-5 fs-5">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
        CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="left text-white mx-5 fs-5">
        You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to
        the contact form to make it fully functional!
      </p>
    </div>
  </div>
</div>
